body {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;      
}

/******************************* TOP NAV CSS *****************************************/
#header-nav { /*Adding min header height*/
    min-height: 95px;
    background-color:#Abaeae;
}
.navbar-brand h1{ /** Modifying the brand h1 **/
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    text-decoration: solid;
    color: black;
}
#nav-list{
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    color: black;
    text-align: center;
}
#nav-list li {
    line-height: 30px;
    align-items: center;
    border-bottom: solid black;
}
.navbar-header button { 
    margin-top: 30px;
    background: transparent;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}
.navbar-header button:active, .navbar-header button:hover {
    background: white;
}
/*********************************** TOP NAV CSS ENDS *************************************/

#body-div {
    background-color: #Abaeae;
    margin-left: 20px;
    margin-right: 20px;
}
